html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #0f1444;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #191d3f;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.wrapper-loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
}
.wrapper-loading--close{
  display: none;
}
.loading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.container {
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #121953;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 3px 10px 0px #0c1038;
}
.header__container {
  display: flex;
  align-items: center;
}
.nav {
  margin-right: 5px;
}
.logo {
  display: block;
  text-decoration: none;
  margin-right: auto;
}
.logo__img {
  display: block;
}
.nav__list {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav__item {
  margin-right: 10px;
  margin-left: 10px;
}
.nav__link {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
}
.nav__link:hover {
  background-color: #1e2353;
}
.nav__link--chanel{
  display: flex;
  align-items: center;
  background-color: dodgerblue;
}
.nav__link--chanel:hover{
  background-color: rgb(0, 128, 255);
}
.nav__link-img{
  display: block;
  margin-right: 4px;
}
.header__bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
}
.header__bookmark:hover {
  background-color: #282f6e;
}
.header__bookmark-img {
  display: block;
}
.header__bookmark-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  color: #fff;
  border-radius: 50%;
  background-color: #9a1990;
}

/* search section  */
.section--close{
  display: none;
}
.search {
  padding-top: 80px;
  padding-bottom: 60px;
}
.search__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 36px;
}
.search__container {
}
.search__form {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px  20px 0px #1c2361;
  border-radius: 5px;
}
.search__form-input {
  width: 50%;
  border: none;
  border-radius: 5px;
  padding: 12px 12px;
  font-size: 18px;
  font-family: "Poppins", "Arial", sans-serif;
  margin-right: 20px;
}
.search__form-input-btn {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: #ff47f0;
  border-radius: 5px;
  cursor: pointer;
}
.header__bookmark-img {
  display: block;
}
.search__form-select {
  width: 20%;
  padding: 12px 12px;
  border-radius: 5px;
  font-size: 18px;
  margin-right: 20px;
  border: none;
  color: #282f6e;
  font-weight: 500;
  font-family: "Poppins", "Arial", sans-serif;
}
.search__form-select-option {
}
.search__form-input--small {
  width: 20%;
}
/* movies section */
.movies {
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
}
.movies__container {
}
.movies__details-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.movies__title {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  color: #fff;
  text-align: left;
}
.movies__details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.movies__details-list{
  display: flex;
  align-items: center;
}
.movies__details-button{
  display: block;
  padding: 6px ;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Poppins", "Arial", sans-serif;
  background-color: #0e1235;
  color: #fff;
  border: 2px solid transparent;
  box-shadow: 0px 0px 10px 0px #1c2361;
  outline: none;
  font-weight: 500;
  width: 36px;
  height: 36px;
  margin: 0 4px;
  cursor: pointer;
  transition: transform 0.2s ease;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}
.movies__details-button--amount-up{
  background-image: url("/img/sort-amount-up-solid.svg");
}
.movies__details-button--amount-down{
  background-image: url("/img/sort-amount-down-alt-solid.svg");
}
.movies__details-button--alpha-up{
  background-image: url("/img/sort-alpha-up-solid.svg");
}
.movies__details-button--alpha-down{
  background-image: url("/img/sort-alpha-down-alt-solid.svg");
}
.movies__details-button:hover{
  box-shadow:inset 0px 0px 10px 0px #1c2361;
  transform: scale(1.1);
}
.movies__details-button--active{
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px 0px rgb(121, 121, 121);
}
.movies__count{
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 700;
  color: #ff47f0;
}
.movies__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.movies__item {
  max-width: 200px;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.movie {
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  position: relative;
}
.movie:hover .movie__details-bookmark {
  display: flex;
}
.movie:hover {
  box-shadow: 0px 5px 10px #191d3f;
  transform: scale(1.09);
}
.movie__link {
  display: block;
  text-decoration: none;
  background-color: #1e2353;
  border-radius: 5px;
}
.movie__inner {
  position: relative;
  margin-bottom: 4px;
  transition: transform 0.2s ease;
}

.movie__img {
  max-width: 100%;
  width: 100%;
  height: 280px;
  display: block;
  object-fit: cover;
}
.movie__status {
  display: inline-block;
  vertical-align: baseline;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: 10;
  transform: translate(-5px, -5px);
  background-color: #892cdc;
  border-radius: 20px;
  padding: 2px 10px;
  color: #fff;
}
.movie__title-wrapper {
  padding: 5px;
}
.movie__title {
  max-width: 100%;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}

.movie__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 10px 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.movie__details-bookmark {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: transform 0.2s ease;
  width: 20px;
  height: 20px;
  background-image: url("/img/bookmark-simple.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.movie__details-bookmark--clicked{
  background-image: url("/img/bookmark-full.svg");
}
.movie__details-bookmark:hover {
  transform: scale(1.1);
}
.movie__details-bookmark-img {
  display: block;
}
.movie__details-bookmark-desc {
  display: none;
}
.movie__rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.movie__rating-stars {
  position: relative;
  width: 100px;
  height: 30px;
  background-image: url("/img/star-simple.svg");
  background-size: 20px 30px;
  margin-right: 5px;
}
.movie__rating-star {
  height: 100%;
  width: 100%;
  background-image: url("/img/star-full.svg");
  background-size: 20px 30px;
}
.movie__rating-count {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.movie__rating-stars-modal {
  width: 160px;
  height: 40px;
  background-size: 32px 40px;
  margin-right: 5px;
}
.movie__rating-star-modal {
  height: 100%;
  width: 100%;
  background-size: 32px 40px;
}
.movie__rating-count-modal {
  font-weight: 600;
  font-size: 32px;
  color: #ff47f0;

}
.movie__date-text {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 4px;
  color: #fff;
  font-size: 16px;

}
.movie__date {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 4px;
  font-weight: 500;
}
.movie__date::before{
  content: "";
  width: 3px;
  height: 16px;
  background-color: #fff;
  margin-right: 8px;
  border-radius: 5px;
}
.movie__language-text {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
}
.movie__language {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-right: 4px;
  font-weight: 500;
}
.movie__language::before{
  content: "";
  width: 3px;
  height: 16px;
  background-color: #fff;
  margin-right: 8px;
  border-radius: 5px;
}
.movie__duration-text {
  display: flex;
  align-items: center;
  align-self: flex-end;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  background-color: rgb(107, 107, 107);
  padding: 0px 10px;
  margin-top: 0;
  margin-bottom: 0;
}
.movie__duration {
  display: block;
  margin-right: 4px;
}
.pagination{
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.page-item{
  margin: 4px 4px;
}
.page-link{
  display: block;
  text-decoration: none;
  background-color: #0c1038;
  color: #0c1038;
  color: #fff;
  font-weight: bold;
  padding: 6px 14px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: background-color 0.1s ease;
  border: 2px solid #fff;
}
.page-link--active{
  background-color: #3c46b4;
  transform: scale(1.2);
}

.page-link:hover{
  background-color: #2d3269;
  border: 2px solid #fff;
}
.page-link--active:hover{
  background-color: #4c57cf;
}
.movies__title-top{
  margin-bottom: 20px;
}
.loading{
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}

/* footer  */
.footer{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #121855;
}
.footer__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__info{
  max-width: 500px;
}
.footer__copy{
  color: #fff;
  font-size: 18px;
}
.footer__copy-mark{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  color: rgb(0, 128, 255);
  font-weight: 500;
}
.footer__source-code{
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: rgb(0, 128, 255);
}
.footer__about{
  color: #fff;
}
.footer__socials{
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

}
.footer__social{
  margin: 0px 5px;
}
.footer__social-link{
  display: block;
  padding: 4px;
  border-radius: 5px;
}
.footer__social-link:hover{
  background-color: #2d3269;

}
.footer__social-img{
  display: block;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal--open{
  display: flex;
}
.modal__inner{
  background-color: #0e1235;
  border-radius: 5px;
  max-width: 760px;
  width: 100%;
}
.modal__inner-video{
  display: block;
  border: none;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 0;
}
.modal__inner-info{

}
.modal-info{
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  max-height: 320px;
  height: 100%;
  overflow-y: auto;
}
.modal-info::-webkit-scrollbar {
  width: 5px;
}
.modal-info::-webkit-scrollbar-track {
  border-radius: 0;
}
.modal-info::-webkit-scrollbar-thumb {
  border-radius: 0;
}
.modal-info__title{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 26px;
  color: #fff;
}
.modal-info__inner{
  display: flex;
  align-items: flex-start;
}
.modal-info__left{
  max-width: 40%;
  width: 100%;
  margin-right: 20px;

}
.modal-info__language-text{
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
  color: #fff;

}
.modal-info__language{
  display: block;
  margin-left: 5px;
  font-weight: 700;
}

.modal-info__categories {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.modal-info__categories-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 5px;
  font-size: 18px;
  color: #fff;
}
.modal-info__categories-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.modal-info__categories-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin-right: 10px;
}
.modal-info__categories-item.modal-info__categories-item:last-child{
  margin-right: 0;
}
.modal-info__categories-item::after{
  content: "";
  width: 2px;
  height: 16px;
  background-color: #ff47f0;
  margin-left: 10px;
}
.modal-info__categories-item:last-child::after{
  display: none;
}
.modal-info__year-text {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-top: 0;
  font-size: 18px;
  color: #fff;
}
.modal-info__year {
  display: block;
  margin-left: 5px;
  font-weight: 700;
}
.modal-info__summary{
  /* display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
  overflow: hidden; */
  max-width: 60%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
  font-size: 16px;
}